/* Fonts */

@font-face {
  font-family: News Plantin MT Pro;
  src: url(./fonts/NewsPlantinMTPro-Regular.otf);
}

@font-face {
  font-family: Argent Pixel CF;
  src: url(./fonts/ArgentPixelCF-Regular.otf);
}

body {
  margin: 0;
  font-family: News Plantin MT Pro, serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #E0763B;
  background-color: #FEFFFA;
}

.media--container, .media--container * {
  cursor: default;
}

body:not(.media--container):not(.media--container *) {
  cursor: url(../public/img/cursor.png) 16 16, cell;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: News Plantin MT Pro;
  font-size: 40px;
  font-style: normal; 
  font-weight: 400;
  line-height: 40px; /* 100 */
  letter-spacing: -1.6px;
}

h2 {
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1px;
}

h3 {
  font-family: Argent Pixel CF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
}

p {
  color: #E0763B;
  font-family: News Plantin MT Pro;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px; /* 133.333% */
}

.number {
  letter-spacing: -2.8px;
}
